.container {
  display: block;
  margin: auto;
  width: 100%;
}

#particle-canvas {
  width: 100%;
  height: 70%;
}

.tekst_keskele {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}

#pealkiri {
  text-align: center;
}