.header {
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.container {
  width: 80%;
  display: block;
  padding: 75px 0;
  margin: auto;
}

#col-1 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #282828;
  z-index: 1010101010
}

#col-2 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background: #0080ff17;
  z-index: 1010101010
}

.form {
  /* grid-row-start: 2;
  grid-row-end: span 3;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: hidden; */
  color: #e0c097;
  margin: auto;
}

.responsive-iframe {
  position: relative;
  width: 80%;
  height: 50%;
  margin: auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="button"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #45a049;
}

.info {
  background: teal;
  font-weight: normal;
  margin: auto;
}