.container {
    display: block;
    margin: auto;
    width: 70%;
    height: 100%;
    padding-top: 100px;
}

.container div {
    padding: 10px;
}

.header {
    text-align: center;
    font-size: 25px;
}

.form {
    border: 2px solid #e9d2a1;
}

.form2 {
/*    border: 2px solid #e9d2a1;*/
    width: 50%;
    margin: auto;
}

#parent {
    color: #e0c097;
    font-size: 20px;
    text-align: justify;
}

#parent > p {
  display: inline-block;
    text-align: left;
    line-height:150%;
}