@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Josefin+Sans&family=Roboto+Mono:ital@1&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #2d2424;
  font-family: sans-serif;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}

.navbar {
  background-color: #b85c38;
  overflow: auto;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0c097;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: #e0c097;
  margin-top: 0;
  margin-bottom: 0;
}

p.a {
  font-family: 'Comforter Brush', cursive;
  color: #e0c097;
}

ul.a {
  color: #e0c097;
}

.navbar ul {
  list-style: none;
  margin-top: 49px;
  float: right;
}

.navbar ul li {
  float: left;
  padding: 10px;
}

.navbar ul li a {
  display: block;
  color: #e0c097;
  text-decoration: none;
  font-size: 20px;
}

.footer {
  font-size: 16px;
  text-align: center;
  color: grey;
  font-family: "Open Sans", sans-serif;
  display: block;
  block-size: auto;
}