@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Josefin+Sans&family=Roboto+Mono:ital@1&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #2d2424;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

#navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  z-index: 999;
  background-color: #b85c38;
  position: fixed;
}

#navbar #nav {
  float: right;
  padding-top: 13px;
}

li.nav2 {
  list-style: none;
  display: inline-block;
  padding-right: 40px;
    font-size: 20px;
}

li a {
  text-decoration: none;
  color: #e0c097;
}

li a:hover {
  color: #ffffff;
}

#logo {
  float: left;
}

#navbar img {
  display: block;
  width: 88px;
  height: 75px;
  margin: auto;
  padding: 5px;

}

@media screen and (max-width: 600px) {
  li.nav2 {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    
    }}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e0c097;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: #e0c097;
  margin-top: 0;
  margin-bottom: 0;
}

p.a {
  font-family: 'Comforter Brush', cursive;
  color: #e0c097;
}

p.b {
  font-family: 'Roboto Mono', monospace;
  color: #e0c097;
}

li {
  color: #e0c097;
}

.footer {
  font-size: 16px;
  text-align: center;
  color: grey;
  font-family: "Open Sans", sans-serif;
  display: block;
  block-size: auto;
  margin: auto;
  padding-bottom: 30px;
}